.tripBlock {
    width: 100%;
    border: 1px solid #cfcfcf;
    border-left-color: chartreuse;
    border-left-width: 5px;
    border-radius: 15px;
    margin-top: 15px;
    padding: 10px;
    display: flex;
}

.tripBlock .content {
    /*float: left;*/
}
.tripBlock .content .title {

}

.mat-badge-content {
    width: auto;
    display: grid;
    min-width: 32px;
    min-height: 28px;
    text-align: center;
    align-items: center;
    padding: 5px 3px;
    top: -20px;
    right: -22px;
    border-radius: 5px;
}

button[mat-mini-fab] {
    display: flex;
    justify-content: center;
    margin: 5px;
}

button[color="green"] {
    background-color: lawngreen;
}

.tripBlock .content .subtitle {
    color: #cfcfcf;
}

.tripBlock .actions {
    margin-left: auto;
    border-left: 1px solid #cfcfcf;
    min-width: 30%;
    width: 40%;
    padding: 10px;
}

.tripBlock .members {
    display: flex;
}

.tripBlock .actions .buttons {
    display: flex;
}

.facilities {
    display: flex;
}

.facilities button {
    cursor: default;
}

.facilities button:hover {
    cursor: default;
}

button[color=transportation] {
    background-color: #FEE715FF;
}