<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark">
    <i class="fas fa-bars" style="color: #FFF;"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#">SurfTrips</a>
        <div id="close-sidebar">
          <i class="fas">&times;</i>
        </div>
      </div>
      <div class="sidebar-header" *ngIf="isLoggedIn() && user">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
            alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name">{{user.username}}
          </span>
          <span class="user-role">Administrator</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>
      <!-- sidebar-header  -->
      
      <div class="sidebar-search" *ngIf="isLoggedIn()">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- sidebar-search  -->

      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>General</span>
          </li>
          <li>
            <a routerLink="" class="nav-link" routerLinkActive="active">
              <i class="fa fa-book"></i>
              Feed
              <span class="badge badge-pill badge-primary">Beta</span>
            </a>
          </li>
          <li>
            <a routerLink="/addTrip" class="nav-link" routerLinkActive="active" *ngIf="isLoggedIn() && isProvider()">
              <i class="fa fa-plus"></i>
              Add Trip
            </a>
          </li>
          <li class="header-menu">
            <span>Profile</span>
          </li>
          <li>
            <a routerLink="user" class="nav-link" routerLinkActive="active" *ngIf="isLoggedIn()">
              <i class="fa fa-user"></i>
              User
            </a>
          </li>
          <li>
            <a routerLink="/signup" class="nav-link" routerLinkActive="active" *ngIf="!isLoggedIn()">
              <i class="fa fa-book"></i>
              Sign up
            </a>
          </li>
          <li>
            <a routerLink="/login" class="nav-link" routerLinkActive="active" *ngIf="!isLoggedIn()">
              <i class="fa fa-book"></i>
              Login
            </a>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      <a href="#">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
      <a href="#">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>
      <a href="#">
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a>
      <a href="#">
        <i class="fa fa-power-off" (click)="logout()"></i>
      </a>
    </div>
  </nav>
  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="container-fluid">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>
  <!-- page-content" -->
</div>
