img.flag {
    width: 150px;
}

.progressSpinner {
    margin: 0px auto;
    text-align: center;
}

mat-chip[color=flights] {
    background-color: #101820FF;
}

mat-chip[color=transportation] {
    background-color: #FEE715FF;
}